.right-side{
    @media(min-width: 991px){ 
        position: absolute;
        top: 0;
        right: 0; 
        padding: 0 15px;
    }
    @media(max-width: 767px){
        display: none;
    }
}

.tab-inner{
    padding: 0 16px;
    .title{
        color: #fff;
        font-weight: 700;
        font-size: 16px;
        border-bottom: 1px solid rgba(250, 250, 250, 0.5); 
        padding: 10px 0;  
    } 
    .tab-list{
        li{
            display: block;
            a{
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                border-bottom: 1px solid rgba(250, 250, 250, 0.5); 
                padding: 8px 18px;
                display: block;
                cursor: pointer;
                &:hover, &.active{
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}
.mobile-tab{ 
    background: #fff;
    display: flex;
    justify-content: space-around; 
    margin: 0 -16px;
    @media(min-width: 767px){
        display: none;
    }
    li {
        width: 100%;
        span{
            font-weight: 700;
            font-size: 14px;
            line-height: 45px;  
            text-transform: uppercase; 
            color: #204971;
            display: block;
            text-align: center;
            border-bottom: 2px solid #fff;
            &.active{
                border-color: #204971;
            }
        }
    }
}

@media(max-width: 991px){
    .right-side{
        padding-top: 30px;
        background: #F9F9F9;
    }
}