<div class="tab-inner">
	<ul class="mobile-tab">
		<li><span class="active">Timeline</span></li>
		<li><span>Details</span></li>
	</ul>
	<div class="tab-item"> 
		<h5 class="title"> Project Details</h5>
		<ul class="tab-list">
			<li>
				<a class="active" [routerLink]="['summary']">Summary</a>
			</li>
			<li>
				<a [routerLink]="['ber-details']">BER Details</a>
			</li>
			<li>
				<a [routerLink]="['building']">Building</a>
			</li>
		</ul>
	</div>
</div>
<div class="right-side col-lg-6">
	<router-outlet></router-outlet>
</div>  