.page-title {
    font-weight: 700;
    font-size: 21px;
    color: #204971;
    display: block;
    text-align: center;
    padding: 15px;
    i {
        color: #c0c0c0;
        font-size: 16px;
    }
}
.page-details {
    background: #ffffff;
    border-radius: 10px;
    padding: 16px;
    align-items: center;
    .title {
        border-bottom: 1px solid #e8e8e8;
        display: block;
        padding: 10px 0;
        h4 {
            font-weight: 600;
            font-size: 16px;
            color: #444;
            i {
                color: #c0c0c0;
            }
        }
    }
    .form-group {
        border-bottom: 1px solid #e8e8e8;
        display: block;
        padding: 10px 0;
        label {
            font-weight: 400;
            font-size: 14px;
            color: #989898;
            display: block;
            padding-bottom: 4px;
        }
        h6 {
            font-weight: 400;
            font-size: 16px;
            color: #444;
        }
    }
}

.button-group {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
    button {
        font-weight: 400;
        font-size: 16px;
        background: #989898;
        border: 1px solid;
        border-radius: 10px;
        padding: 0 15px;
        min-height: 40px;
        color: #fff;
        display: inline-block;
        text-align: center;
        line-height: 38px;
        min-width: 100px;
        outline: none;
        box-shadow: none;
        transition: all 0.3s linear;
        border-color: #989898;
    }
    .theme-button {
        background: #00c17b;
        color: #fff;
        border-color: #00c17b;
        &:hover {
            background: #00a86b;
            color: #fff;
            border-color: #00a86b;
        }
    }
    .theme-button-2 {
        background: transparent;
        color: #ff647c;
        border-color: #ff647c;
        margin-right: 10px;
        &:hover {
            background: #ff647c;
            color: #fff;
            border-color: #ff647c;
        }
    }
}

.customer-type {
    padding-top: 20px;
    margin: 0;
    h6 {
        background: #ffffff;
        border: 0.702782px solid #c0c0c0;
        border-radius: 4.21669px;
        padding: 15px;
        text-align: center;
        &.active {
            background: #204971;
            color: #fff;
        }
    }
}
