<div class="page-action">
    <div class="d-sm-flex justify-content-between">
        <h4>Project</h4>
        <img src="assets/demo.png" alt="" />
    </div>
    <ul class="tab-list">
        <li><a href="#" class="active">Project</a></li>
        <li><a href="#">Customer</a></li>
        <li><a href="#">Building</a></li>
        <li><a href="#">QA</a></li>
    </ul>
</div>
<h2 class="page-title">
    Customer Details <i class="fa-solid fa-circle-info"></i>
</h2>
<div class="page-details">
    <div class="title d-flex justify-content-between">
        <h4>Customer Type <i class="fa-solid fa-circle-info"></i></h4>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
    <div class="form-group">
        <label>Type</label>
        <h6>Private Customer</h6>
    </div>
    <div class="title d-flex justify-content-between">
        <h4>Customer Type <i class="fa-solid fa-circle-info"></i></h4>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
    <div class="form-group">
        <label>Type</label>
        <h6>Private Customer</h6>
    </div>
    <div class="form-group">
        <label>Type</label>
        <h6>Private Customer</h6>
    </div>
    <div class="title d-flex justify-content-between">
        <h4>Customer Type <i class="fa-solid fa-circle-info"></i></h4>
        <i class="fa-solid fa-ellipsis"></i>
    </div>
    <div class="form-group">
        <label>Type</label>
        <h6>Private Customer</h6>
    </div>
    <div class="form-group">
        <label>Type</label>
        <h6>Private Customer</h6>
    </div>
</div>
