.page-action {
    background: #fff;
    border-radius: 10px;
    padding: 16px;
    img {
        max-width: 415px;
    }
    h4 {
        font-weight: 800;
        color: #444;
        font-size: 17px;
        padding-top: 5px;
    }
    .tab-list {
        background: #dcfee2;
        padding: 0 5px;
        margin-top: 30px;
        li {
            display: inline-block;
            a {
                padding: 0 6px;
                line-height: 40px;
                color: #767676;
                font-weight: 400;
                font-size: 16px;
                border-bottom: 8px solid #b0f2cd;
                margin-right: 4px;
                display: inline-block;
                &.active {
                    color: #444;
                    border-color: #00c17b;
                }
            }
        }
    }
}
.page-title {
    font-weight: 700;
    font-size: 21px;
    color: #204971;
    display: block;
    text-align: center;
    padding: 15px;
    i {
        color: #c0c0c0;
        font-size: 16px;
    }
}
.page-details {
    background: #ffffff;
    border-radius: 10px;
    padding: 16px;
    align-items: center;
    .title {
        border-bottom: 1px solid #e8e8e8;
        display: block;
        padding: 10px 0;
        h4 {
            font-weight: 600;
            font-size: 16px;
            color: #444;
            i {
                color: #c0c0c0;
            }
        }
    }
    .form-group {
        border-bottom: 1px solid #e8e8e8;
        display: block;
        padding: 10px 0;
        label {
            font-weight: 400;
            font-size: 14px;
            color: #989898;
            display: block;
            padding-bottom: 4px;
        }
        h6 {
            font-weight: 400;
            font-size: 16px;
            color: #444;
        }
    }
}

@media (max-width: 575px) {
    .page-action {
        h4 {
            padding-bottom: 10px;
        }
        img {
            max-width: 100%;
        }
    }
}
