<app-project-layout>
  <div class="tab-item" leftTab>
    <h5 class="title"> Slaes Estimate </h5>

  </div>
  <ng-container rightTab>
    <div class="page-action">
      <div class="d-sm-flex justify-content-between">
        <h4>Sales</h4>
        <img src="assets/demo.png" alt="">
      </div>
      <ul class="tab-list">
        <li><a [routerLink]="['/pages/project/1/sales/project']" class="active">Project</a></li>
        <li><a [routerLink]="['/pages/project/1/sales/customer']">Customer</a></li>
        <li><a [routerLink]="['/pages/project/1/sales-est']">Estimate</a></li>
        <li><a href="#">QA</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </ng-container>
</app-project-layout>
