<h2 class="page-title">Customer Type <i class="fa-solid fa-circle-info"></i></h2>
<div class="page-details">
    <div class="title d-flex justify-content-between">
        <h4>Customer Type </h4> 
    </div>  
    <div class="row customer-type">
        <div class="col-3">
            <h6 class="active">Private <br> Customer</h6>
        </div>
        <div class="col-3"><h6>Trade <br> Customer</h6></div> 
    </div>
    <div class="button-group">
        <button class="theme-button-2">Cancel</button>
        <button class="theme-button">Next</button>
    </div>
</div>

