<h5 class="title"> Slaes Detail </h5>
<div class="salse-left-details">
  <div class="title d-flex justify-content-between">
    <h4>Customer Type <i class="fa-solid fa-circle-info"></i></h4>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Type</label>
        <h6>Private Customer</h6>
      </div>
      <div class="col">
        <label>Type</label>
        <h6>Private Customer</h6>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Type</label>
        <h6>Private Customer</h6>
      </div>
      <div class="col">
        <label>Type</label>
        <h6>Private Customer</h6>
      </div>
    </div>
  </div>
</div>
